<!--main-->
<div class="container" id="main">
<div class="row">
<div class="col-md-4 col-sm-6" ng-repeat="(starshipKey, starship) in starships">
  <div class="panel panel-default">
    <div class="panel-heading"> <h4>{{starship.model}}</h4></div>
    <div class="panel-body">
      <p><span class="field">Edited</span>: {{starship.edited | date:"dd/MM/yyyy"}}</p>
      <hr>
      <p><span class="field">Manufacturer</span>: {{starship.manufacturer}}</p>
      <hr>
      <p>
        <span class="field">Crew</span>: <span ng-hide="starship.edit">{{starship.crew}}</span>&nbsp;&nbsp;
        <span style="cursor: pointer;" class="glyphicon glyphicon-pencil" ng-click="edit(starshipKey)" ng-hide="starship.edit"></span>
        <input type="text" ng-model="starship.crew_edit" ng-show="starship.edit">&nbsp;&nbsp;
        <span style="cursor: pointer;" class="glyphicon glyphicon-ok" ng-click="ok(starshipKey)" ng-show="starship.edit"></span>
      </p>
      <hr>
    </div>
  </div>
  </div>
</div>
 </div>